<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<p>There has been some terrible accident. Your pages isn't available. We're having our team of highly trained monkeys working on the problem. We expect solutions to be thrown at us soon.</p>
<pre>{{error.stack}}</pre>
